html {
    height: 100%;
    display: flex;
    color-scheme: light dark;
    font-family: consolas, monospace;
    line-break: anywhere;
    white-space: pre-wrap;
}

body {
    flex: 1;
    display: flex;
    flex-flow: column;
}

#_canvas {
    flex: 1;
    position: relative;
    outline: none;
    background-color: linen;

    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        min-height: 150px;
    }
}

#_io {
    &:empty {
        display: none;
    }

    b {
        line-break: anywhere;
        outline: none;
    }

    p {
        color: black;

        .correct {
            background-color: palegreen;
        }

        .incorrect {
            background-color: lightsalmon;
        }
    }
}

#_console {
    position: fixed;
    bottom: 4px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid;
    z-index: 1;
    background-color: Canvas;

    max-height: 50%;
    overflow-y: auto;

    &:empty {
        display: none;
    }

    .error {
        color: red;
    }

    span {
        color: GrayText;
    }
}